@tailwind base;
@tailwind components;
@tailwind utilities;

/* Default (light mode) colors */
:root {
  --primary-color: #1E40AF; /* Blue */
  --secondary-color: #3B82F6; /* Light blue */
  --background-color: #FFFFFF; /* White background */
  --text-primary: #262626; /* Dark text */
  --text-secondary: #999999; /* Light gray text */
  --border-color: #D1D5DB; /* Light gray border */
  --button-hover: #1A1A1A; /* Dark button hover */
}

/* Dark mode colors */
@media (prefers-color-scheme: dark) {
  :root {
    --primary-color: #3B82F6; /* Lighter blue for dark mode */
    --secondary-color: #1E40AF; /* Darker blue for dark mode */
    --background-color: #141414; /* Dark background */
    --text-primary: #FFFFFF; /* White text */
    --text-secondary: #D1D5DB; /* Light gray text */
    --border-color: #555555; /* Dark gray border */
    --button-hover: #333333; /* Dark button hover */
  }
}

/* Apply fixed width and max-width globally */
body {
  max-width: 1440px;
  margin: 0 auto; /* Centers the content horizontally */
  padding: 0 auto; /* Optional padding for spacing */
}
